VITE_SUPABASE_URL=https://jgdwtzmjsmzcnrpxlcfj.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImpnZHd0em1qc216Y25ycHhsY2ZqIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODYzNDIyMTQsImV4cCI6MjEwMTkxODIxNH0.p3TU-vX8bKWm5W8tgK49VB7giFRqXOSzpAVuqc9gHnM
